.navbar {
  margin-bottom: 0;
}
/* Background pattern from Toptal Subtle Patterns */
body {
  background:  url("/adamgordon/pics/backgrounds/use_your_illusion.png");
  background-repeat: repeat;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #cdcdcd;
}

.jumbotron {

  background: url("/adamgordon/pics/coverphoto.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  height: auto;
}

.jumbotron p {
  color: white;
  font-size: 26px;
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: white;
  margin-bottom: 5px;
}

.btn-primary:hover {
  color: #27a967;
  background-color: white;
  border-color: white;
}

.navbar-inverse {
  background: #595959
;
  border: 0;
}

.navbar-inverse .navbar-nav li a {
  color: #f7f7f7;
  font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
  background: #27A967;
}

.dropdown-menu{
  background:#2E2F31;
  border-radius: 0;
  border: 0;
}
.dropdown-menu li a{
  padding: 10px;

}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
  background: #2C463C;
}

.call-to-action {
  text-align: center;
  margin-top: 70px;
}

.call-to-action p{
  margin-bottom: 30px;
  font-family: sans-serif;
  color: #DDD;
}

.call-to-action a{
  color: #fff;
}
.call-to-action a:hover{
  color: #fff;
  text-decoration: none;
}

.glyphicon-large{
  font-size: 50px;
}

.about{
  background: url("/adamgordon/pics/backgrounds/subtle_zebra_3d.png");
  color: #111;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-me-header{
  font-size: 40px;
  margin-top: 50px
}
.spacer{
  margin-bottom: 60px
}

.about-text{
  color: #888;
  text-align: center;
  margin-top: 15px;
}

.about-text-header{
  margin-top: 50px;
}

.gpa-header{
  text-align: center;
  margin-top: 50px;
}
