.navbar {
  margin-bottom: 10;
}

body {
  background:  url("/adamgordon/pics/backgrounds/use_your_illusion.png");
  background-repeat: repeat;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #cdcdcd;
}


.navbar-inverse {
  background: #2E2F31;
  border: 0;
}

.navbar-inverse .navbar-nav li a {
  color: #f7f7f7;
  font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
  background: #27A967;
}

.dropdown-menu{
  background:#2E2F31;
  border-radius: 0;
  border: 0;
}
.dropdown-menu li a{
  padding: 10px;

}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
  background: #2C463C;
}

.projects-header-text{
  margin-bottom: 30px;
}

.project-name{
  text-align: center;
  text

}
.project-description{

}

.projects{
  outline: 2px solid #fff;
}

.project{
  margin-top: 40px;
  margin-bottom: 40px;
}
